.input-field {
    border-radius: var(--main-border-radius);
    color: #1a202c;
}

#form-button {
    background-color: var(--main-green-color);
    border-radius: var(--main-border-radius);
    font-size: 22px;
}
