.section-header-container {
    font-size: 32px;
}

.add-new-employee-button {
    border-radius: var(--main-border-radius);
    font-size: 24px;
    background-color: var(--main-green-color);
    transition: all ease .2s;
}

.employee-card {
    background-color: var(--main-light-color);
    border-radius: var(--main-border-radius);
    font-size: 24px;
    transition: all ease .2s;
}

.employee-card-button {
    font-size: 19px;
    background-color: var(--main-dark-color);
    border-radius: var(--main-border-radius);
    transition: all ease .2s;
}

.congratulate-now {
    background-color: var(--main-green-color);
}

.employee-card-action-button {
    background-color: var(--main-dark-color);
    border-radius: var(--main-border-radius);
    transition: all ease .2s;
}

.employee-card-action-button.delete-profile {
    background-color: var(--main-red-color);
}

.employee-card-action-button img {
    width: 50%;
}

.info-message-container {
    border-radius: var(--main-border-radius);
    background-color: var(--main-green-color);
}

.info-message-text {
    font-size: 22px;
}
