@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-dark-color: #20222B;
    --main-light-color: #52576D;
    --main-red-color: #DD5D5D;
    --main-green-color: #3EB489;
    --main-border-radius: 30px;
}

@font-face {
    font-family: JostMedium;
    src: url('/public/fonts/static/Jost-Medium.ttf');
}

@font-face {
    font-family: JostRegular;
    src: url('/public/fonts/static/Jost-Regular.ttf');
}

body {
    background-color: var(--main-dark-color);
    padding: 20px 40px;
    color: #fff;
    font-family: "JostRegular", sans-serif;
}

.header {
    background-color: var(--main-light-color);
    border-radius: var(--main-border-radius);
}

.logo-container {
    background-color: var(--main-dark-color);
    border-radius: var(--main-border-radius);
    padding: 10px 30px;
}

.date-time {
    font-size: 32px;
}

.actions-container {
    background-color: var(--main-dark-color);
    border-radius: var(--main-border-radius);
    padding: 10px 30px;
}

.actions-container > .profile-container {

}

.actions-container > .profile-container > .user-name {
    font-family: "JostMedium", sans-serif;
}

.theme-toggle-container {
    background-color: var(--main-light-color);
    border-radius: var(--main-border-radius);
    padding: 5px;
    cursor: pointer;
}

.profile-button {
    background-color: var(--main-light-color);
    border-radius: var(--main-border-radius);
    padding: 5px;
}

.logout-button {
    background-color: var(--main-red-color);
    border-radius: var(--main-border-radius);
    padding: 5px;
}

.toggle-circle {
    background-color: #9CA2BD;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.section-container {
    height: 200px;
    background-color: var(--main-light-color);
    border-radius: var(--main-border-radius);
    transition: all ease .2s;
    font-size: 27px;
    text-align: center;
    padding: 10px 0;
    font-family: "JostRegular", sans-serif;
}

.section-container:hover {
    transform: scale(103%);
}

.birthday-people-container {
    background-color: var(--main-light-color);
    border-radius: var(--main-border-radius);
    padding: 10px;
}

.birthday-people-card {
    background-color: var(--main-dark-color);
    border-radius: var(--main-border-radius);
    height: 200px;
    transition: all ease .2s;
    /*min-width: 330px;*/
}

.birthday-people-card:hover {
    transform: scale(103%);
}

.birthday-people-card > .full-name-container {
    font-size: 20px;
    font-family: "JostRegular", sans-serif;
}

.birthday-people-card > .congratulations-datetime-container {
    font-size: 18px;
    font-family: "JostRegular", sans-serif;
}

.birthday-people-card > .button {
    font-size: 18px;
    font-family: "JostMedium", sans-serif;
    background-color: var(--main-light-color);
    border-radius: var(--main-border-radius);
    width: 100%;
    transition: all ease .2s;
}

.birthday-people-card > .button:hover {
    transform: scale(103%);
}

.birthday-people-card > .congratulate {
    background-color: var(--main-green-color);
}
