@import url('auth/login.css');

@import url('mail-log/index.css');

@import url('employees/index.css');
@import url('employees/create.css');
@import url('employees/show.css');

@import url('positions/index.css');
@import url('positions/create.css');
@import url('positions/show.css');

@import url('mail-templates/index.css');
@import url('mail-templates/show.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-dark-color: rgb(17 24 39);
    --main-light-color: #52576D;
    --main-red-color: #DD5D5D;
    --main-green-color: #3EB489;
    --main-border-radius: 30px;
}

@font-face {
    font-family: JostMedium;
    src: url('/public/fonts/static/Jost-Medium.ttf');
}

@font-face {
    font-family: JostRegular;
    src: url('/public/fonts/static/Jost-Regular.ttf');
}

body {
    background-color: var(--main-dark-color);
    padding: 20px 40px;
    color: #fff;
    font-family: "JostRegular", sans-serif;
}

.header {
    background-color: var(--main-light-color);
    border-radius: var(--main-border-radius);
}

.logo-container {
    background-color: var(--main-dark-color);
    border-radius: var(--main-border-radius);
    padding: 10px 30px;
}

.date-time {
    font-size: 32px;
}

.actions-container {
    background-color: var(--main-dark-color);
    border-radius: var(--main-border-radius);
    padding: 10px 30px;
}

.actions-container > .profile-container > .user-name {
    font-family: "JostMedium", sans-serif;
}

.profile-button {
    background-color: var(--main-light-color);
    border-radius: var(--main-border-radius);
    padding: 5px;
}

.logout-button {
    background-color: var(--main-red-color);
    border-radius: var(--main-border-radius);
    padding: 5px;
}

.header-action-button {
    transition: all ease .2s;
}

.add-new-record-button {
    border-radius: var(--main-border-radius);
    font-size: 24px;
    background-color: var(--main-green-color);
    font-family: "JostRegular", sans-serif;
    transition: all ease .2s;
}

.list-item {
    background-color: var(--main-light-color);
    border-radius: var(--main-border-radius);
    font-size: 24px;
    transition: all ease .2s;
}

.section-container {
    height: 200px;
    background-color: var(--main-light-color);
    border-radius: var(--main-border-radius);
    transition: all ease .2s;
    font-size: 27px;
    text-align: center;
    padding: 10px 0;
    font-family: "JostRegular", sans-serif;
}

.section-container:hover {
    transform: scale(103%);
}

.birthday-people-container {
    background-color: var(--main-light-color);
    border-radius: var(--main-border-radius);
    padding: 10px;
    position: relative;
    min-height: 200px;
}

.birthday-people-container > .background-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.birthday-people-card {
    background-color: var(--main-dark-color);
    border-radius: var(--main-border-radius);
    height: 200px;
    transition: all ease .2s;
}


.birthday-people-card > .full-name-container {
    font-size: 20px;
    font-family: "JostRegular", sans-serif;
}

.birthday-people-card > .congratulations-datetime-container {
    font-size: 18px;
    font-family: "JostRegular", sans-serif;
}

.birthday-people-card > .button {
    font-size: 18px;
    font-family: "JostMedium", sans-serif;
    background-color: var(--main-light-color);
    border-radius: var(--main-border-radius);
    width: 100%;
    transition: all ease .2s;
}

.birthday-people-card > .congratulate {
    background-color: var(--main-green-color);
}

.go-back-button {
    background-color: var(--main-light-color);
    border-radius: var(--main-border-radius);
}

.header-action-button:hover,
.add-new-record-button:hover,
.birthday-people-card:hover,
.birthday-people-card > .button:hover,
.employee-card-button:hover,
.employee-card-action-button:hover
.position-card-button:hover,
.position-card-action-button:hover {
    transform: scale(103%);
}
