.section-header-container {
    font-size: 32px;
    font-family: JostMedium;
}

.mail-template-card {
    background-color: var(--main-light-color);
    border-radius: var(--main-border-radius);
    font-size: 24px;
    transition: all ease .2s;
}

.mail-template-card-body {
    font-size: 18px;
}

.employee-card-button {
    font-size: 19px;
    background-color: var(--main-dark-color);
    border-radius: var(--main-border-radius);
    transition: all ease .2s;
}

.congratulate-now {
    background-color: var(--main-green-color);
}

.mail-template-card-action-button {
    background-color: var(--main-dark-color);
    border-radius: var(--main-border-radius);
    transition: all ease .2s;
}

.delete-mail-template-button {
    background-color: var(--main-red-color);
    border-radius: var(--main-border-radius);
    transition: all ease .2s;
}

.info-message-container {
    border-radius: var(--main-border-radius);
    background-color: var(--main-green-color);
}

.info-message-text {
    font-size: 22px;
}

.info-message {
    background-color: var(--main-red-color);
    border-radius: var(--main-border-radius);
    font-size: 24px;
    transition: all ease .2s;
}
