input {
    border-radius: var(--main-border-radius) !important;
}

button#send-form-button {
    border-radius: var(--main-border-radius);
    background-color: var(--main-green-color);
    color: #fff;
}
