.header-mail-log-card,
.mail-log-card {
    background-color: var(--main-light-color);
    border-radius: var(--main-border-radius);
    font-size: 24px;
    transition: all ease .2s;
}


.mail-log-card-employee-link,
.mail-log-card-template-link {
    transition: all ease .2s;
}

.mail-log-card a:hover {
    color: var(--main-green-color);
}

.success-send-status {
    color: var(--main-green-color);
}

.error-send-status {
    color: var(--main-red-color);
}

.related-model-was-removed-text {
    color: var(--main-red-color);
}
